<h2>Recently added</h2>
<div>
    <% items.forEach(item => { %>
        <a href="/items/<%= item.id %>"> 
            <img height="150" width="200" src="<%= item.imagePath %> ">
        </a>
    <% }) %> 
</div>