<header>
    <nav>
        <a href="/">Inventory Tracking</a>
        <ul>
            <li><a href="/warehouses">Warehouses</a></li>
            <li><a href="/warehouses/new">Add Warehouses</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/items/new">Add Items</a></li>
        </ul>
    </nav>
</header>