<h2>Search Item</h2>
<form action="/items" method="GET"> 
    <div>
        <label>Name</label>
        <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
    <div>
        <button type="submit">Search</button>
    </div>
</form>
<br>
<div>
    <% items.forEach(item => { %>
        <a href="/items/<%= item.id %> "><img height="150" width="200" src="<%= item.imagePath %> "></a>
    <% }) %> 
</div>
